body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fefae0;
    color: #283618;
    border-radius: 5px;
    border-bottom: 10px solid #dda15e;
    box-shadow: 4px 4px 4px lightblue ;
    /* animation properties */
    animation-duration: 3s;
    animation-name: slide-in; 
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
  /* animation styling */
@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200 1;
  }  
  to {
    translate: 0 0;
  }
}

/* hover effect */
.card:hover {
    background: #283618;
    color: #fefae0;
    border-bottom: 10px solid #bc6c25;
}

/* .border-blue {
    border: 1px dotted blue;
} */

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
